.item {
  display: none;
  height: 70vh;
}

.active {
  display: block;
}

.item img {
  width: 75%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0px, -50px);

  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  background-color: aqua;
  cursor: pointer;
  padding: 5px 15px;
}

.arrow-left {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0px, -50px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  background-color: aqua;
  cursor: pointer;
  padding: 5px 15px;
}
